<%= form_for @text, url: { action: "create" } do |form| %>
	<p>
    <%= @text.errors.full_messages.first if @text.errors.any? %></br>
		<%= form.label :text %></br>
		<%= form.text_area :text %>
	</p>
	<p>
    <%= form.submit %>
	</p>
<% end %>